#caixatexto{
width: 900px;
height: 450px;
background-color: white;
border-radius: 2%;
border: 4px solid #06FAFA;
}

#texto{
    color: #06FAFA;
    text-align: center;
}

#textosobremim{
    color:  #00008B;
    text-align: center;
}

#titulo{
    color: white;
    text-align: center;
}

#body{
    background-color: #011724;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile{
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: #000;
}